<ion-header>
    <ion-toolbar>
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="tertiary">Welcome</ion-text>
          <p><ion-text color="white"><strong>{{loggedUserName}}</strong></ion-text></p>
        </ion-label>
      </ion-title>
      <ion-avatar slot="end">
        <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <div clas="ion-padding">
      <ion-list>
        <ion-item>
          <ion-select
             
            placeholder="My Gym.."
            (ionChange)="handleChange($event)"
            (ionCancel)="pushLog('ionCancel fired')"
            (ionDismiss)="pushLog('ionDismiss fired')"
          >
            <ion-select-option value="add">Add Gym</ion-select-option>
            <ion-select-option value="join">Join Gym</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <!-- <div class="ion-padding">
        <p *ngFor="let log of logs">{{ log }}</p>
      </div> -->
    </div>
    <div class="map" #map></div>
    <!-- <ion-list>
      <ion-item *ngFor="let provider of serviceProviders">
        <ion-label>
            {{provider.email}}
        </ion-label>
      </ion-item>
    </ion-list> -->
  
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-button expand="block" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon>Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>