<ion-header>
    <ion-toolbar>
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="tertiary">Welcome</ion-text>
          <p><ion-text color="white"><strong>{{loggedUserName}}</strong></ion-text></p>
        </ion-label>
      </ion-title>
      <ion-avatar slot="end">
        <img [src]= "userProfileImage" >
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <div clas="ion-padding">
      <ion-list>
        <ion-item>
          <ion-select
             
            placeholder="My Property.."
            (ionChange)="handleChange($event)"
            (ionCancel)="pushLog('ionCancel fired')"
            (ionDismiss)="pushLog('ionDismiss fired')"
          >
            <ion-select-option value="add">Add Property</ion-select-option>
            <ion-select-option value="join">Join Property</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <!-- <div class="ion-padding">
        <p *ngFor="let log of logs">{{ log }}</p>
      </div> -->
    </div>
   
  
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-button expand="block" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon>Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>