<ion-header>
  <ion-item>
    <ion-select 
      label="Select Gym"
      placeholder="Select Gym"       
      (ionChange)="selecthandleChange($event)"
      [compareWith]="compareWith" value="{{MyDefaultGymValue}}"              
      slot="end">
      <!-- <ion-select-option *ngFor="let mt of MemberType" [value]="mt">{{ mt.name }}</ion-select-option> -->
        <ion-select-option *ngFor="let gym of gyms" value="{{gym._id}}"> {{gym.gym_name | uppercase}}</ion-select-option>
        
    </ion-select>
  </ion-item>
  <ion-searchbar         
      placeholder ='Search Member'
      [(ngModel)]="searchTerm"
      showCancelButton="focus"
      animated   
      >    
    </ion-searchbar>
    
   
</ion-header>

<ion-content class="ion-padding">
         <!-- to refresh page on pull down  -->
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-div>
        <ion-label><strong>Subscription Expired</strong></ion-label>
        <!-- <ion-list lines="none" *ngFor="let m of members |customFilter:searchTerm" lines=""></ion-list> -->
      
        <ion-list lines="none" *ngFor="let member of expry_members " lines="">
          <ion-item detail="true" (click)="changeValidity(member._id)">
            <ion-label>
              <h3>{{member.m_name}}</h3>
              <p><ion-icon name="calendar-number-outline"></ion-icon> {{member.m_enddate | date}}</p>
              <p (click)="CallTel(member.mobile)"><ion-icon name="call-outline"></ion-icon>{{member.mobile}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
      </ion-div>

      <ion-div>
        <ion-label><strong>Validity Extension Request</strong></ion-label>
        <!-- <ion-list lines="none" *ngFor="let m of members |customFilter:searchTerm" lines=""></ion-list> -->
      
        <ion-list lines="none" *ngFor="let member of expry_members " lines="">
          <ion-item detail="true" (click)="changeValidity(member._id)">
            <ion-label>
              <h3>{{member.m_name}}</h3>
              <p><ion-icon name="calendar-number-outline"></ion-icon> {{member.m_enddate | date}}</p>
              <p (click)="CallTel(member.mobile)"><ion-icon name="call-outline"></ion-icon>{{member.mobile}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
      </ion-div>


   
</ion-content>


