<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="downloadme" #downloadme >
     
        <div id="bg">
                <ion-label><h1 class="p">WELCOME</h1>
                            <h2 class="p">TO</h2>
                            <h1 class="p">{{gymname | uppercase }}</h1>
                </ion-label>
        </div>

        <div id="qrbox">
            <ion-list  lines="none" class="ion-margin">
            <ion-label ><h1>SCAN ME</h1></ion-label>
            <ion-item >
                <div class="center">
                   <qrcode
                    #imageCanvas
                    id="qr_code img" 
                    [qrdata]= 'gymIdforQRcode'
                    [width]="225" 
                    [cssClass]="'center'"
                    [errorCorrectionLevel]="'M'">
                    </qrcode>
                </div>
            </ion-item>
            <ion-text ><h2>TO GET PROPERTY ACCESS</h2></ion-text> 
                  
            </ion-list>                    
        </div>
        
         
        <ion-item color="primary">
            <!-- <ion-thumbnail slot="start">
                <img alt="App Icon" src="../../../../fotos/icons/AppIconQUL.png" />
              </ion-thumbnail> -->
            <ion-label>Use QR UNLOCK App</ion-label>
        </ion-item>
      
    
  </ion-content>

  <ion-footer>
    <ion-toolbar>
        <ion-button (click)= "downloadQrCode()" expand = "block" shape="round" strong="true" class="ion-margin-end" color="primary">
            DOWNLOAD NOW
            <ion-icon slot="end" name="cloud-download"></ion-icon>
          </ion-button>
    </ion-toolbar>
  </ion-footer>