<ion-header>
  <ion-toolbar color="primary">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-align-items-center" *ngIf="isLoadingResults">
    <ion-spinner name="crescent" color="success" ></ion-spinner>
  </div>
  <div *ngIf="!userVerified">

  <ion-item>
    <ion-input 
    label="Mobile Phone" 
    labelPlacement="floating" 
    [(ngModel)]="mobile" 
    type="mobile" 
    name="mobile" 
    required 
    placeholder="Enter Mobile Number"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>e-mail</ion-label>
    <ion-input
    label="E-Mail" 
    labelPlacement="floating"  
    [(ngModel)]="email" 
    type="email" 
    name="email" 
    position="floating"
    required 
    placeholder="Enter Valid Email Address"></ion-input>
  </ion-item>

  

  <ion-button 
  expand="block" 
  class="ion-padding" 
  color="light" (click)="sendVerificationCodeSignup()">
  Get Verification Code
  </ion-button>
</div>

<div *ngIf="userVerified">
  <form [formGroup] = "registerForm" (ngSubmit)="register()">
    <ion-list>
    <ion-item>
  
      <ion-input
      label="Name" 
      labelPlacement="floating"  
      formControlName="username" 
      type="text" 
      required></ion-input>
    </ion-item>

  <ion-item>
      
      <ion-input 
      label="Mobile No." 
      labelPlacement="floating" 
      formControlName="mobile" 
      type="text" 
      required></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input 
      label="password" 
      labelPlacement="floating" 
      formControlName="password" 
      type="password" 
      required>
      </ion-input>
    </ion-item>

    <div>
        <ion-button 
        type="submit" 
        [disabled]="!registerForm.valid"
        color="primary" 
        shape="full" 
        expand="block">Register</ion-button>
    </div>
  </ion-list>
  </form> 
</div>
  <p class="ion-text-center" *ngIf="isLoading"> <ion-spinner></ion-spinner> </p>
  
  <p class="ion-text-right">already have an account?<strong routerLink="/login">login</strong></p>


  <ion-item  *ngIf="userexist" class="ion-padding" >
  <ion-button type="button" expand="block" color="secondary" >Forget Password</ion-button>
  </ion-item>

  
  

</ion-content>

