<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>report-member-gym</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div>
    <ion-item>
    <ion-avatar>

    </ion-avatar>
    <ion-label>
      <ion-note color="dark"><b>Gym Name </b></ion-note>
        <p class="ion-text-wrap">Gym Admin Name</p>
        <p><ion-text color="dark"> Today Date</ion-text>    
        </p>                  
    </ion-label> 

    </ion-item>
   </div>
   <div>
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-label></ion-label>
          <ion-text>Total Members</ion-text>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-text>Paid Member Count</ion-text></ion-col>
        <ion-col>2</ion-col>
        <ion-col><ion-text>Free Member Count</ion-text></ion-col>
      </ion-row>
    </ion-grid>

   </div>
   <div>
    <ion-grid>
      <ion-row>
        <ion-col><ion-text>Sr. No.</ion-text></ion-col>
        <ion-col><ion-text>Member Name</ion-text></ion-col>
        <ion-col><ion-text>Mobile</ion-text></ion-col>
        <ion-col><ion-text>Starting Date</ion-text></ion-col>
        <ion-col><ion-text>End Date</ion-text></ion-col>
        <ion-col><ion-text>Attended Days</ion-text></ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col><ion-text>01</ion-text></ion-col>
        <ion-col><ion-text>Ram Kumar</ion-text></ion-col>
        <ion-col><ion-text>7891013456 </ion-text></ion-col>
        <ion-col><ion-text>01-07-2023</ion-text></ion-col>
        <ion-col><ion-text>30-07-2023</ion-text></ion-col>
        <ion-col><ion-text>10 Days</ion-text> </ion-col>
      </ion-row>
    </ion-grid>
    
   </div>
</ion-content>
