<ion-header 
[translucent]="true"
collapse="fade"
class="ion-no-border"
> 
  <ion-toolbar> {{loggeduserName}} Report
    <ion-buttons slot="start">
      <ion-back-button default-href="/member-action"></ion-back-button>
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" [fullscreen]="true">
  
  <div class="div-0">
               
        <ion-list lines="none" class="ion-margin">
          <ion-list-header>Report</ion-list-header>
          
            <ion-item>
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-label color="dark"><h2>Attended :- {{memberAttendances}} Days </h2> </ion-label>
            </ion-item> 
          
            <!-- <ion-item> 
              <ion-icon name="calendar-number-outline"></ion-icon>
              <ion-label color="dark"><h2>Balance Days ...</h2> </ion-label>
            </ion-item>  -->
          
            <ion-item> 
              <ion-icon name="calendar-number-outline"></ion-icon>
              <ion-label color="dark"><h2>End Date : {{memberEndDate | date}} </h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-icon name="alert-outline"></ion-icon>
              <!-- <ion-label color="danger">Set Reminder(7 days)</ion-label> -->
              <ion-toggle aria-label="Primary toggle"  [(ngModel)]="isToggleOn" color="primary" (ionChange)="changeToggle($event)">Set Alert (7 days)</ion-toggle>
            </ion-item>

            <ion-item>
              <ion-icon name="location-outline"></ion-icon>
              <ion-label color="dark"><h2>Update My Address</h2> </ion-label>  
              <ion-button slot="end" (click)="getLocation()">Set </ion-button>                 
            </ion-item>
          
          
            <!-- <ion-item href="#"> 
              <ion-icon name="cloud-download-outline"></ion-icon>
              <ion-label color="dark"><h2>Download Data </h2> </ion-label>
            </ion-item> -->
          
        </ion-list> 
       
  </div>

  <div class="div-1">
    <ion-label color="dark"><h2>My Performance</h2></ion-label>  
         <!-- set min date as Start Date so that it start from that only -->
      <ion-datetime
        [min]="Start_Date"
        [max]="lastDate" 
        size="cover"
        [highlightedDates]="highlightedDates"
        [showDefaultButtons]="false"
        presentation="date"
      ></ion-datetime>    
    
  </div> 


  <div class="ion-padding">    
     
    <ion-button 
    expand="block" 
    shape="round" 
    color="primary"   
    strong="true"
    fill="solid"   
    (click)="rechargeRequestAlert()">
    Recharge Request</ion-button>
    
  </div> 

  
</ion-content>
