<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>

    <ion-title >Set Location </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="locationfixed()"> SET </ion-button>
    </ion-buttons>

   
  </ion-toolbar>
</ion-header>

<ion-content>


<div class="maps">
    <capacitor-google-map #map></capacitor-google-map>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button expand="block" (click)="locate()">Locate Me</ion-button>
  </ion-toolbar>
</ion-footer>
