<ion-header 
[translucent]="true"
collapse="fade"
class="ion-no-border"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-list>
      <ion-item>
        <ion-select
          fill="outline"
          justify="space-between"
          label="Select Gym"
          aria-label="Gym_Choice"
          placeholder="Select Gym"
          (ionChange)="handleChange($event)"
          (ionCancel)="pushLog('ionCancel fired')"
          (ionDismiss)="pushLog('ionDismiss fired')"
           
        >
          <ion-select-option value="gym1">GYM 1</ion-select-option>
          <ion-select-option value="gym2">GYM 2</ion-select-option>
          <ion-select-option value="gym3">GYM 3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="div-0">
    <ion-label color="dark"> <h2>Report</h2> </ion-label>
   
      <ion-item >        
        <ion-list>
          
            <ion-item>
              <ion-label color="dark"><h2>Total Members ...</h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Free Members ...</h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Paid Members ...</h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Validity Going to End.... Members</h2></ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Set Reminder(7 days)</h2> </ion-label>
              <ion-toggle aria-label="Primary toggle" color="primary" [checked]="true"></ion-toggle>
            </ion-item>
          
          
            <ion-item href="#"> 
              <ion-label color="dark"><h2>Download Data </h2> </ion-label>
            </ion-item>
          
        </ion-list> 
      </ion-item> 
  </div>

  <div class="div-0">
    <ion-label color="dark"><h2>Update</h2> 
  </ion-label>
    
    <ion-item>    
      <ion-list>
                       
        <ion-item>
          <ion-label color="dark"><h2>Want to Update Lock ID?</h2> </ion-label>
              <ion-toggle aria-label="Primary toggle" color="primary" [checked]="false"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label color="dark"><h2>Download QR code for Selected Gym </h2></ion-label>
        </ion-item>

      </ion-list>
 
    </ion-item>    
  </div>
  
  <div class="div-0">
    <ion-label color="dark"><h2>Gym Setup</h2></ion-label>
    <ion-list>
          <ion-item>
            <ion-label color="dark"> <h2>App User Data Storage limit .... 90 Days</h2> </ion-label>
          </ion-item>

          <ion-item >      
            <ion-label color="dark"><h2>Set Members Limit .... 100 Nos.</h2></ion-label>
          </ion-item>

          <ion-item> 
            <ion-label color="dark"><h2>Enable Gift Points</h2> </ion-label>
            <ion-toggle aria-label="Primary toggle" color="primary" [checked]="false"></ion-toggle>
          </ion-item>

          <!-- if recharge by points allowed then ask per day consumption of point and set warning end date 
          wil be calculated based on points only for all users ..not manually 
        or ask if points are gift points, if gift points then add in the end date by caluclting days.
       if here gift point allowed then in Validity page add one more input filed to enter gift point 
      and based on those points increase end date in DB. -->

          <ion-item>
            <ion-label color="dark"><h2>Invite Additional Admin</h2></ion-label>
          </ion-item>
    </ion-list>
  </div>
  
</ion-content>
 
