.profile-photo {
    border-radius: 50% !important;
    overflow: hidden;
    }

    ion-content {
      background: #c7c7d3;
  >ion-refresher {
    >ion-refresher-content {
    }
  }
  >div.div-0{          
    margin-top:4x;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;

    padding-top:5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;

    border-radius: 20px;
    border: 0.1px solid #000000;
    min-height: 50px; 
    >ion-label {
      >h2 {
        >strong {
        }
      }
    }     
      >ion-list {
        margin-top: 0.1vh;
        ion-list-header {
            font-weight: 1000;
            font-size: 1.5rem;
        }
        ion-item {
          --min-height: 6px;
          ion-label {
                    >h2 {
                      font-size: 1rem;
                      font-weight: 400;
                      padding-left: 5vw;
                    }
               }
          
        }
            
      }    
  }
 
}
   

  // .div-0 {
         
  //   background: transparent;      
    
  //   margin-top:5px;
  //   margin-right: 10px;
  //   margin-left: 10px;

  //   // padding-top:5px;
  //   // padding-right: 5px;
  //   // padding-left: 5px;
    

  //   // border-radius: 20px;
  //   // border: 0.1px solid #8a8a8a;
  //   // min-height: 100px; 
  // }