<ion-header 
[translucent]="true"
collapse="fade"
class="ion-no-border"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
     
     <ion-item>
        <ion-select
          mode="ios"
          fill="none"
          justify="space-between"
          label="Select Gym"
          aria-label="Gym_Choice"
          placeholder="Select Gym"          
          (ionChange)="selecthandleChange($event)"
          [compareWith]="compareWith" 
          value="{{MyDefaultGymValue}}"              
          slot="end"
         
        >
        <ion-select-option *ngFor="let gym of gyms" value="{{gym._id}}"> {{gym.gym_name | uppercase}}</ion-select-option>
            
        </ion-select>
      
      </ion-item>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="div-0">
    <ion-label color="dark"> <h2><strong>Report</strong></h2> </ion-label>   
          
        <ion-list>          
            <ion-item>
              <ion-label color="dark"><h2>Total Members :- {{totalMembers}} Persons</h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Free Members :- {{freeMembers}} Persons...</h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Paid Members :- {{paidMembers}} Persons...</h2> </ion-label>
            </ion-item> 
          
            <ion-item> 
              <ion-label color="dark"><h2>Validity Going to End :- {{goingtoExpire}} Persons</h2></ion-label>
            </ion-item> 
          
            <ion-item>               
              <ion-toggle justify="space-between" aria-label="primary" color="primary" [checked]="true">Set Reminder(7 days)</ion-toggle>               
            </ion-item>
          
<!--           
            <ion-item href="#"> 
              <ion-label color="dark"><h2>Download Data (CSV format)</h2> </ion-label>
            </ion-item> -->
          
        </ion-list> 
     
  </div>

  <div class="div-0">
    <ion-label color="dark"><h2><strong>Lock Setup</strong></h2></ion-label>    
      <ion-list>
                       
        <ion-item  *ngIf="showAssignLock" detail="true" (click)="assignLock()" id="open-modal">
          <ion-label color="danger"><h2><strong>Assign Lock</strong></h2> </ion-label>

          <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                  </ion-buttons>
                  <ion-title>Lock Relay ID</ion-title>
                  <ion-buttons slot="end">
                    <ion-button [disabled]="!lockForm.valid" (click)="confirm()" [strong]="true">Confirm</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">

                <form [formGroup]="lockForm" (ngSubmit)="confirm()">
                    
                    <ion-item>
                      <ion-input
                      label="Lock Relay Id:" label-placement="floating"
                      formControlName="lock_relayId"         
                      type="text" required></ion-input>
                    </ion-item>              
                  </form> 
                
              </ion-content>
            </ng-template>
          </ion-modal>      
           
        </ion-item>
       
        <ion-item *ngIf="showLockSelection">
          <ion-select
            label="Select Lock" label-placement="fixed"
            placeholder="Type"
            (ionChange)="selecthandleChangelock($event)"
            [compareWith]="compareWithl"
            value="{{DefaultLockValue}}"
                      >
            <ion-select-option *ngFor="let lock of locks"  value="{{lock.id}}">{{ lock.name }}</ion-select-option>    
        </ion-select>
      </ion-item>

         <ion-item *ngIf="showOpeningRange">
              <ion-range
              labelPlacement="start" 
              label="Select Closing Delay"
              [pin]="true" 
              [pinFormatter]="pinFormatter"
              [value]="closingDelay"
              [min]="0"
              [max]="9"
              [ticks]="true"
              aria-label="Select Opening Time"
              (ionKnobMoveStart)="onIonKnobMoveStart($event)"
              (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
            ></ion-range>
        </ion-item> 

        <ion-item *ngIf="showPassage">     
              <ion-toggle 
              mode="ios"
              [enableOnOffLabels]="true"
              justify="space-between"
              color="danger"              
              [ngModel]="isToggled" 
              (ngModelChange)="notifyAndUpdateIsToggled($event)"> Passage Mode
              </ion-toggle>    
        </ion-item>

        <ion-item *ngIf="showLockRelayId" detail="true" (click)="LockRelayIdUpdate()">
          <ion-label>Lock Relay Id : {{lockRelayId}}</ion-label>
        </ion-item>

      </ion-list>  
  </div>

  <div class="div-0">
    <ion-label color="dark"><h2><strong>Attendance Setup</strong></h2></ion-label>
    <ion-list>
            <ion-item>     
                  <ion-toggle 
                  mode="ios"
                  [enableOnOffLabels]="true"
                  justify="space-between"
                  color="success"              
                  [ngModel]="isAttendanceOn" 
                  (ngModelChange)="attendanceIsToggled($event)"> Activate Attendance
                  </ion-toggle>    
            </ion-item>

          <ion-item *ngIf="isAttendanceOn" detail="true" (click)="OpenAttendance()">      
            <ion-label color="dark"><h2>Attendance Manager</h2></ion-label>
          </ion-item>

          <ion-item>     
            <ion-toggle 
            mode="ios"
            [enableOnOffLabels]="true"
            justify="space-between"
            color="success"              
            [ngModel]="isHolidayOn" 
            (ngModelChange)="holidayIsToggled($event)"> Activate Holiday
            </ion-toggle>    
      </ion-item>

          <ion-item *ngIf="isAttendanceOn" detail="true" (click)="OpenHoliday()">      
            <ion-label color="dark"><h2>Holiday Manager</h2></ion-label>
          </ion-item>

         
    </ion-list>
  </div>

  
  
  <div class="div-0">
    <ion-label color="dark"><h2><strong>Gym Setup</strong></h2></ion-label>
    <ion-list>
          <ion-item detail="true" (click)="addmoregym()" >
            <ion-label color="dark"> <h2 >Add More Gym. </h2> </ion-label>
          </ion-item>

          <ion-item detail="true" (click)="removeGym()">      
            <ion-label color="dark"><h2>Remove Gym.</h2></ion-label>
          </ion-item>

          <!-- <ion-item> 
             <ion-toggle aria-label="Primary toggle" color="primary" [checked]="false">Enable Gift Points</ion-toggle>
          </ion-item> -->

          <!-- if recharge by points allowed then ask per day consumption of point and set warning end date 
          wil be calculated based on points only for all users ..not manually 
        or ask if points are gift points, if gift points then add in the end date by caluclting days.
       if here gift point allowed then in Validity page add one more input filed to enter gift point 
      and based on those points increase end date in DB. -->

          <!-- <ion-item detail="true">
            <ion-label color="dark"><h2>Invite Additional Admin</h2></ion-label>
          </ion-item> -->
    </ion-list>
  </div>

  <div class="div-0">
    <ion-label color="dark"><h2><strong>Update</strong></h2></ion-label>    
      <ion-list>
<!--                        
        <ion-item>
          <!-- <ion-label color="dark"><h2></h2> </ion-label> --
              <ion-toggle 
              justify="space-between"
              aria-label="Primary toggle" 
              color="primary" 
              [disabled]="lockIDtoggleTrigger" 
              [checked]="lockIDtoggleTrigger" 
              (ionChange)="lockIdToggle($event)">Update Lock ID?</ion-toggle>
        </ion-item> -->

        <ion-item detail="true" (click)="gymUpdate()">
          <ion-label color="dark"><h2>Update Gym Details</h2> </ion-label>
           
        </ion-item>

        <ion-item detail="true" (click)="QrCodeDownLoad()">
            <ion-label color="dark" ><h2>Download QR code </h2></ion-label>
        </ion-item>
      </ion-list>  
  </div>


  
</ion-content>
 
