 .col {
  margin-top: 50px;
 }

 .black-fab {
  --background: rgb(54, 54, 54);
}

.blue-fab {
  --background: var(--ion-color-primary);
}
 
 ion-fab {           
  >ion-fab-button {
    width: 40px;
        height: 40px; 
    >ion-label {
        font-size: 12px;
    }
  }
}

