<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button   (click)="gyminformation()" ><strong>Back</strong></ion-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Property Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-gmap></app-gmap>
     <form [formGroup] = "gymForm" (ngSubmit)="onSubmit()">
      <ion-list>
      <ion-item>
        <!-- <ion-label position="floating">Gym Name </ion-label> -->
        <ion-input 
        position="floating" 
        labelPlacement="floating"
        label="Property Name*" 
        formControlName="gym_name" 
        type="text" 
        required></ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="floating">Gym Mobile</ion-label> -->
        <ion-input 
        position="floating"
        labelPlacement="floating" 
        label="Property Mobile*" 
        formControlName="gym_mobile" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="floating">Gym Emergency Mobile</ion-label> -->
        <ion-input 
        position="floating"
        labelPlacement="floating" 
        label="Property Emergency Mobile*" 
        formControlName="gym_emergency" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="floating">Gym GSTIN (optional)</ion-label> -->
        <ion-input 
        label="Property GSTIN(Optional)" 
        labelPlacement="floating"
        formControlName="gym_gstin"  type="text">
        </ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-input 
        position="floating"
        labelPlacement="floating"
        label="Lock Relay ID" formControlName="gym_lockId"  type="text">
        </ion-input>
      </ion-item> -->

      <ion-item>
          <ion-label>Location on Map*</ion-label>
          <ion-button shape="round" slot="end"  (click)="getLocation()">Set </ion-button>
      </ion-item>

      <div>
          <ion-button 
          type="submit" 
          [disabled]="!gymForm.valid"
          color="primary" 
          shape="round"
          expand="block">Save</ion-button>
      </div>
    </ion-list>
    </form> 


   </ion-content>

 