<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-0">
    <ion-item class= ".ion-item-0" href="#">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
      <!-- <ion-img class=“profile-photo” (click)="getImage()" src=""></ion-img> -->
      <ion-label color="dark">
        <h2>{{loggeduserUsername}}</h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    
  </div>
  <div class="div-1">     
      <ion-label><ion-icon slot="start"  name="barbell-sharp"></ion-icon><h2>Gym Management</h2> 
        </ion-label>
        <ion-list [inset]="true" lines="none">
          <ion-item>
            <ion-label>
              <p>Gym Name : {{gymName}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p>Gym Emergency Mobile No. : {{gymEmergencyMobile}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p>Gym Location on Google Map</p>
            </ion-label>
          </ion-item>

        </ion-list>
    </div>  
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
     
  
<div class="div-1">
    <ion-item class="ion-item-1"   href="#">
      <ion-icon slot="start" name="mail-unread"></ion-icon>
      <ion-label color="dark">
        <h2 color="primary">Message Center</h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item> 
</div>

<div class="div-1">
    <ion-item color="primary" class="ion-item-1"  href="#">
      <ion-icon slot="start" name="reader-outline"></ion-icon>
      <ion-label color="dark">
        <h2  >FAQ & Feedback </h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item> 
  </div>

 

  <!-- <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item> -->

</ion-content>

<!--  make Feedback page add whatsapp link in feedback page  -->
