<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-0">
    <ion-item class= ".ion-item-0" href="#">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
      <!-- <ion-img class=“profile-photo” (click)="getImage()" src=""></ion-img> -->
      <ion-label color="dark">
        <h2>Name</h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item>

    
  </div>
  <div class="div-1">
    <ion-item class="ion-item-1" href="#">
      <ion-icon slot="start"  name="barbell-sharp"></ion-icon>
      <ion-label color="dark">
        <h2>Gym Management</h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item> 
  

    <ion-item class="ion-item-1"   href="#">
      <ion-icon slot="start" name="mail-unread"></ion-icon>
      <ion-label color="dark">
        <h2>Message Center</h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item> 
 

    <ion-item class="ion-item-1"  href="#">
      <ion-icon slot="start" name="reader-outline"></ion-icon>
      <ion-label color="dark">
        <h2>FAQ & Feedback </h2>
      </ion-label>
      <!-- <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon> -->
    </ion-item> 
  </div>

 

  <!-- <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item> -->

</ion-content>

<!--  make Feedback page add whatsapp link in feedback page  -->
