ion-content{

  --ion-background-color:#f5f5f5;
  div{
      --ion-background-color:#ffffff;
  }
}
.profile-photo {
    border-radius: 50% !important;
    overflow: hidden;
    }

    .ion-icon-1 {
      font-size: 25px;
      color:  var(--ion-color-primary);
      padding-right: 20px;
    }

    // ion-item::part(native) {
    //     background: #19422d;
    //     color: #fff;
      
    //     border-color: #fff;
    //     border-style: dashed;
    //     border-width: 2px;
      
    //     border-radius: 20px;
    //   }
      
    //   ion-item::part(detail-icon) {
    //     color: white;
    //     opacity: 1;
    //     font-size: 20px;
    //   }

    .div-1 {
         
        // background;          
        
        margin-top:10px;
        margin-right: 10px;
        margin-left: 10px;

        padding-top:20px;
        padding-right: 5px;
        padding-left: 5px;

        border-radius: 20px;
        border: 0.1px solid #2702f8;
        min-height: 200px; 
      }

      .ion-item-1 {
            padding-top:10px;
        --margin-top: -11px; 
        // --background: #ffffff;
        // --color: #0c0f27;
         
        // --top-padding: 5px;
        // --width: 180px;
        --min-height: 140px; 
      
        // --border-color: #fff;
        // --border-style: solid;
        // --border-width: 0.2px;

        // --border-radius: 15px;
        // --border: 0.2px solid #969696;
      
        
      
        --ripple-color: rgb(230, 214, 230);
      
        --detail-icon-color: white;
        --detail-icon-opacity: 1;
        --detail-icon-font-size: 40px;
      }

      .ion-item-0 {
        padding-top:10px;
        margin-top: 5px; 
        background: transparent;
        min-height: 240px; 
  
    // --border-color: #fff;
    // --border-style: solid;
    // --border-width: 0.2px;

    // --border-radius: 15px;
    // --border: 0.2px solid #969696;
  
    
  
    // --ripple-color: rgb(230, 214, 230);
  
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 50px;
  }

  .div-0 {
         
    background: transparent;      
    
    margin-top:5px;
    margin-right: 10px;
    margin-left: 10px;

    padding-top:5px;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 20px;
    border: 0.1px solid #f5f5f5;
    min-height: 100px; 
  }

  .ion-item::part(native) {
    // background: #ffffff;
    // color: #fff;
    height:8rem;
  
    // border-color: #fff;
    // border-style: dashed;
    border-width: 1px;  
    border-radius: 20px;
  }
  
  .ion-item::part(detail-icon) {
    // color: white;
    opacity: 50;
    font-size: 20px;
  }


  .ion-item-feedback::part(native) {
    background: #ffffff;
    // color: #fff;
    height:6rem;
    margin-left: 10px;
    margin-right: 50px;
  
    // border-color: #fff;
    // border-style: dashed;
    border-width: 1px;  
    border-radius: 20px;
  }
  
  .ion-item-feedback::part(detail-icon) {
    color: white;
    opacity: 1;
    font-size: 20px;
  }
  
  ion-textarea.custom .helper-text,
  ion-textarea.custom .counter {
    color: #373737;
  }
  
  $colors: #2f60ca,#6b5b95,#feb236, #d64161, #ff7b25, #b2ad7f,  #878f99;

.avatar {
  color: #eb7575;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  // height: 60px;
  font-weight: 800;
  font-size: 40px;
  }

  @for $i from 1 through length($colors) {
    .avatar:nth-child(#{length($colors)}n+#{$i}) {
        background: lighten(nth($colors, $i), 20%);
    }
}