<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      GYM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar 
  placeholder ='Search Gym'
  [(ngModel)]="searchTerm"
  showCancelButton="focus"
  animated   
  >    
</ion-searchbar>
<!-- to refresh page on pull down  -->
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

  <ion-list>
    <div>
    <ion-card *ngFor="let item of gyms | filter:searchTerm" class="ion-padding">
            <ion-card-header>            
              <ion-card-title>
                Gym Name: {{item.gym_name}}
              </ion-card-title>
              <ion-card-subtitle>
                Gym Mobile:{{item.gym_mobile}}
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
               <p>Gym Gstin (if any): {{item.gym_gstin}}</p>
               <p>Gym Emergency No. {{item.gym_emergency}} </p>
               <p>Gym Google Map Location Link {{item._id}} </p>
            </ion-card-content>  

            <div>
              <!-- <ion-nav-link router-direction="forward" routerLink="/member-add"> -->
                <ion-button (click)="addMember(item._id)" color="success" style="width: 100%;">
                  <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon> add Members </ion-button>
              <!-- </ion-nav-link> -->
            </div>

            <div>
              <ion-card class="ion-text-center">
                <ion-card-content>
              <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
              <qrcode (qrCodeURL)="onChangeURL($event)" 
              [qrdata]="qrcode_data" 
              [width]="256" 
              [errorCorrectionLevel]="'M'"
              
              ></qrcode>  
            </ion-card-content>
            
            <!-- For unique QR code of each gym location -->
            <ion-card-header>            
              <ion-card-title>
                <ion-button 
                [href]="qrCodeDownloadLink" 
                download="qrcode" 
                (click)="qrcode(item._id,$event)" 
                color="success" style="width: 100%;">
                <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon> download QR code  </ion-button>
              
              </ion-card-title>
              </ion-card-header>
            </ion-card>
            </div>
            
  </ion-card>
</div>

<!-- TO Generate QR code and Download for each Gym Location -->
  <ion-card class="ion-text-center">
    <ion-card-content>
  <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
  <qrcode (qrCodeURL)="onChangeURL($event)" 
  [qrdata]="qrcode_data" 
  [width]="256" 
  [errorCorrectionLevel]="'M'"
  ></qrcode>  
</ion-card-content>

<!-- For unique QR code of each gym location -->
<ion-card-header>            
  <ion-card-title>
    <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
  </ion-card-title>
  </ion-card-header>
</ion-card>

</ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addGym()"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <swiper-container>
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container> -->

  <!--  swiper error  -->

</ion-content>

