ion-content{

    --ion-background-color:#f7f7f7f7;
    ion-list{
        --ion-background-color:#ffffff;
    }
}

.timer {
  --ion-background-color:#f7f7f7f7;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
  }

  .timer span {
    --ion-background-color:#f7f7f7f7;
    font-size: 2em;
    margin: 0 3px 0 15px;
  }