<ion-content [fullscreen]="true" >
  <ion-list class="ion-margin ion-text-center">
     
    <!-- <ion-list-header><ion-img src="assets/images/QRunlock.png"></ion-img> </ion-list-header> -->
    <ion-button color="white" expand="block" shape="round" routerLink="/login">Login with Email</ion-button>
    <!-- <ion-button color="white" expand="block" shape="round">Login with Google</ion-button> -->
    <ion-text color="white"><p><strong routerLink="/register">Don't have an account ? Sign up.</strong></p></ion-text>

    
  </ion-list>
</ion-content>
