
<ion-content>
  <ion-item fill="outline">
    <ion-label position="floating">Invitation Code </ion-label>
    <ion-input placeholder="Enter Invitation Code "></ion-input>
  </ion-item>
      <!-- ngif successfully inviation accepted display GYM detail here and  -->
  <ion-card>
    <ion-card-header>            
      <ion-card-title>
        Gym Name
      </ion-card-title>
      <ion-card-subtitle>
        Gym Location 
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
       <p>Gym Mobile</p>
       <p>Gym Emergency </p>
       <p>Gym Location</p>
    </ion-card-content>  
    
</ion-card>
<ion-button color="success">Enter to gym </ion-button>
  
  </ion-content>
 
