<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Update Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoadingResults">
    <ion-spinner *ngIf="isLoadingResults"> </ion-spinner>
  </div>
  
  <form [formGroup]="memberForm" (ngSubmit)="onFormSubmit()">
    
      <ion-item
            button="true" 
            id= "open-date-input">
              <ion-label>Start Date</ion-label>
        <!-- <ion-text slot="end">{{startDateValue}}</ion-text> -->
        <ion-input 
            formControlName="m_startdate"             
            [(ngModel)]="startDateValue"
            (ngModelChange)="startDateValue=$event" name="inputField" type="datetime"
              >
          <ion-popover 
              [dismissOnSelect]="false" 
              trigger="open-date-input" 
              show-backdrop="false" 
              side="end">   
                <ng-template>        
                      <app-date-time-picker
                      #datetime
                      [min]=""
                      [value]="startDateValue"
                      type="date"
                      [date_format]="format"
                      (datePickerValue)="change($event)"
                      >
                      </app-date-time-picker>
                </ng-template>
           </ion-popover>
        </ion-input>
      </ion-item>
    
<!-- <ion-item>
  <ion-label>End Date </ion-label>
  <ion-input 
        formControlName="m_enddate" 
        [(ngModel)]="EndDate"
        type="date" required>
        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-content>
              <ion-datetime 
                #datetime
                [value]="endDateValue"
                (ionChange)="EndDatechange(datetime.value)"
                showDefaultButtons="true"
                
                [min]="startDateValue"
                  >
                </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal> 
              <!-- [dismissOnSelect]="true" 
              trigger="open-date-input" 
              show-backdrop="false" 
              side="end"> 
                <ion-datetime 
                displayFormat="DD/MM/YYYY" 
                [min]="startDateValue" >
                </ion-datetime>
        </ion-popover> 
  </ion-input>
</ion-item> -->


      <!-- <ion-item>
        
        <ion-input 
        formControlName="m_enddate" 
        [(ngModel)]="EndDate"
        type="date" required>
        </ion-input>
      </ion-item> - -->

      <ion-item
        button="true" 
        id= "open-date-input2">
        <ion-label>End Date</ion-label>
   <!-- <ion-text slot="end">{{startDateValue}}</ion-text> -->
          <ion-input 
              formControlName="m_enddate"               
              [(ngModel)]="endDateValue"
              >
            <ion-popover 
                [dismissOnSelect]="false" 
                trigger="open-date-input2" 
                show-backdrop="false" 
                side="end">   
                  <ng-template>        
                        <app-date-time-picker
                        [value]="endDateValue"
                        type="date"
                        [date_format]="format"
                        (datePickerValue)="EndDatechange($event)"
                        [min]="startDateValue"
                        >
                        </app-date-time-picker>
                  </ng-template>
            </ion-popover>
          </ion-input>

      </ion-item>

      <ion-item>
        <ion-label position>Valid Days : </ion-label>        
        <ion-input 
        formControlName="m_validdays"
        [(ngModel)]="BalanceDays">
        </ion-input>        
      </ion-item>

      <ion-item>
        <ion-label position="floating">Time In</ion-label>
        <ion-input 
        formControlName="m_intime" 
        [(ngModel)]="EntryTime"
         type="Time" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Out Time</ion-label>
        <ion-input 
        formControlName="m_outtime" 
        [(ngModel)]="ExitTime"
         type="Time" required>
        </ion-input>
      </ion-item>

      

      
      
     <div>
        <ion-button 
          type="submit" 
          
          color="primary" 
          shape="full" 
          expand="block"
          >
        Update
        </ion-button>
    </div>

    </form> 
  

</ion-content>