<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Update Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoadingResults">
    <ion-spinner *ngIf="isLoadingResults"> </ion-spinner>
  </div>
  
  <form [formGroup]="memberForm" (ngSubmit)="onFormSubmit()">
    
      <ion-item>
        <ion-label position = "fixed"> Start Date   </ion-label> 
        <ion-datetime-button slot="end" datetime ="sdate" formControlName="m_startdate" ngDefaultControl></ion-datetime-button>
      </ion-item>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
          [min]="join_date"
          [value]="startDateValue"
          [showDefaultButtons]="true"
          presentation="date" 
          id="sdate"
          #sdate           
          (ionChange)="StartDateChange($event)">
          <span slot="title">Select a Start Date</span>
        </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-label position = "fixed"> End Date   </ion-label>
        <ion-datetime-button slot="end" datetime ="edate" formControlName="m_enddate" ngDefaultControl></ion-datetime-button>
      </ion-item>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
                    
          [showDefaultButtons]="true"
          
          [value]="endDateValue"
          [min]="startDateValue" 
          presentation="date" 
          id="edate" 
          #edate
          (ionChange)="EndDateChange($event)">
          <span slot="title">Select a End Date</span>
        </ion-datetime>
        <ion-buttons slot="buttons">
          <!-- <ion-button color="danger" (click)="edate.reset()">Reset</ion-button> -->
          <!-- <ion-button color="primary" (click)="edate.cancel()">Never mind</ion-button>
          <ion-button color="primary" (click)="edate.confirm()">All Set</ion-button> -->
        </ion-buttons>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-label position = "fixed"> In Time   </ion-label>
        <ion-datetime-button slot="end" datetime ="Itime" formControlName="m_intime" ngDefaultControl></ion-datetime-button>
      </ion-item>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
          
          [value]="intimeValue"
          [showDefaultButtons]="true"
          presentation="time" 
          hourCycle="h24"
          id="Itime" 
          #Itime
          (ionChange)="InTimeChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-label position = "fixed"> Out Time   </ion-label>
        <ion-datetime-button slot="end" datetime ="Otime" formControlName="m_outtime" ngDefaultControl></ion-datetime-button>
      </ion-item>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
          [min]="intimeValue"
          [value]="outtimeValue"
          [showDefaultButtons]="true"
          presentation="time"
          hourCycle="h24" 
          id="Otime" 
          #Otime
          (ionChange)="OutTimeChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>

      <!-- <ion-item>
        <ion-label position>Duration  : {{BalanceDays}} Days </ion-label>        
      </ion-item> -->

          
     <div>
        <ion-button 
          type="submit"           
          color="primary" 
          shape="full" 
          expand="block"
          >
        Update
        </ion-button>
    </div>

    </form> 
  

</ion-content>