<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Update Gym</ion-title>
    <ion-buttons slot="end">
      <ion-button 
      type="submit" 
      [disabled]="!gymForm.valid" 
      (click)="onSubmit()" 
      [strong]="true">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingResults">
    <ion-spinner *ngIf="isLoadingResults" ></ion-spinner>
  </div>

  <form [formGroup]="gymForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Gym Name </ion-label>
            <ion-input 
                  formControlName="gym_name"      
                  type="text" required>
            </ion-input>
                    <div class="invalid-feedback"
                         *ngIf="submitted && myForm['gym_name'].errors?.['required']"
                        >   Name is required.
                    </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Gym Mobile </ion-label>
            <ion-input 
                      formControlName="gym_mobile"     
                      type="text" required>
            </ion-input>
                      <div
                      class="invalid-feedback"
                      *ngIf="submitted && myForm['gym_mobile'].errors?.['required']"
                    >
                      Mobile Number is required.
                    </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Emergency Mobile: </ion-label>
            <ion-input 
                    formControlName="gym_emergency"     
                    type="text" required>
            </ion-input>
                      <div
                          class="invalid-feedback"
                       *ngIf="submitted && myForm['gym_emergency'].errors?.['required']"
                          > Emergency Mobile Number is required.                    
                      </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">GSTIN (Optional): </ion-label>
            <ion-input 
                    formControlName="gym_gstin"     
                    type="text" > 
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Lock ID: </ion-label>
            <ion-input 
                    formControlName="gym_lockId"     
                    type="text"> 
            </ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Location on Map</ion-label>
          <ion-button slot="end" (click)="getLocation()">Set </ion-button>
        </ion-item>

        <!-- <div>
          <ion-button 
            type="submit" 
            [disabled]="!gymForm.valid" 
            color="primary" 
            shape="full" 
            expand="block"
            >
          Update
          </ion-button>
      </div> -->

   </form>

</ion-content>
