ion-header {
    ion-toolbar{
        --padding-start:16px;
        --padding-end:16px;
        ion-title{
          //font-size:1.1 rem;
          //letter-spacing:0.5px;
          max-width:40vh;
          //text-shadow:1px 1px  1px var(--ion-color-secondary)
          ion-label{
              ion-text{
                  font-size:1rem;
                      }
              p{
                ion-text{
                    font-size:1.3rem !important;
                }
              }
          }
        }
        ion-avatar {
          height:2.5rem;
          width:2.5rem;
          //border-radius:50%;
          //position:relative;
          margin-right:10px;
          border:1px solid var(--ion-color-tertiary);
          ion-img {
            max-width: 100%;
          }
}
.ion-icon{
  font-size:2.2rem;
  color: var(--ion-color-primary);
}
    }

}

ion-content{

  --ion-background-color:#f5f5f5;
  div{
      --ion-background-color:#ffffff;
  }
}

.profile-photo {
    border-radius: 50% !important;
    overflow: hidden;
    }

    // ion-item::part(native) {
    //     background: #19422d;
    //     color: #fff;
      
    //     border-color: #fff;
    //     border-style: dashed;
    //     border-width: 2px;
      
    //     border-radius: 20px;
    //   }
      
    //   ion-item::part(detail-icon) {
    //     color: white;
    //     opacity: 1;
    //     font-size: 20px;
    //   }

    .div-1 {
         
        background: #c7c7d3;
          
        
        margin-top:40px;
        margin-right: 10px;
        margin-left: 10px;

        padding-top:20px;
        padding-right: 5px;
        padding-left: 5px;

        border-radius: 20px;
        border: 0.1px solid #000000;
        min-height: 500px; 
      }

      .ion-item-1 {
            padding-top:10px;
        --margin-top: -11px; 
        --background: #c9ccda;
        // --color: #0c0f27;
         
        // --top-padding: 5px;
        // --width: 180px;
        --min-height: 140px; 
      
        // --border-color: #fff;
        // --border-style: solid;
        // --border-width: 0.2px;

        // --border-radius: 15px;
        // --border: 0.2px solid #969696;
      
        
      
        --ripple-color: rgb(230, 214, 230);
      
        --detail-icon-color: white;
        --detail-icon-opacity: 1;
        --detail-icon-font-size: 40px;
      }

      .ion-item-0 {
        padding-top:10px;
        margin-top: 5px; 
        background: transparent;
        min-height: 240px; 
  
    // --border-color: #fff;
    // --border-style: solid;
    // --border-width: 0.2px;

    // --border-radius: 15px;
    // --border: 0.2px solid #969696;
  
    
  
    // --ripple-color: rgb(230, 214, 230);
  
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 50px;
  }

  .div-0 {
         
    // background: transparent; 
    background-color:var(--ion-color-light);     
    
    margin-top:5px;
    margin-right: 10px;
    margin-left: 10px;

    padding-top:5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;

    border-radius: 20px;
    border: 0.1px solid #8a8a8a;
    min-height: 100px; 
  }

  ion-col {
    // background-color: #a1b3ee;
    border: solid 0.2px #000000;
    border-radius: 20px;
    // color: #fff;
    text-align: center;
  }

  .red{
    color: red;
  }

  .green{
    color:blue;
  }



  .scanner-stop{
    margin:0px;
    position:absolute;
    // bottom:100px;
    width:100vw;
    height:50px;
    z-index:11;
    ion-icon{      
      font-size:25px;
    }
    p{
    margin-left: 30%;
    font-size: 18px;
    font-weight: 600;
    }
  }

  .scan-box{
    border:2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    content:'';
    display:block;
    left:50%;
    height: 250px;
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    width:250px
  }