  <ion-header class=" ion-no-border">
    <ion-toolbar>
          <ion-title mode="md" class="ion-no-padding">
            <ion-label>
              <ion-text color="tertiary">Welcome</ion-text>
              <p><ion-text color="white"><strong>{{loggedUserName}}</strong></ion-text></p>
            </ion-label>
          </ion-title>
          <ion-avatar slot="end">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content overflow-scroll="true" class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

      <div class="div-0">
        <app-banner [slides]="slides"></app-banner>
        <!-- <ion-button (click)="isscheduleNotification()">Scheduled Notification </ion-button> -->
      </div>

     

      <div class="div-0">
        <ion-label class="ion-text-center" color="dark"><strong><h1>Scan QR code to access Gym</h1></strong></ion-label>
       
            <ion-button
            class="ion-text-center"
            expand="block"
            class="ion-margin"
            (click)="startScan()"
            shape="round"
            >Tap to Scan </ion-button>
         
      </div>

      <div class="div-0">
        <ion-label color="dark"><strong><h2><strong>My Account</strong></h2></strong></ion-label>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col> 
              <ion-list  [inset]="true" lines="none">
                <ion-item>
                  <ion-label color="dark"><h2><strong>Allowed Days</strong></h2> </ion-label>                   
                </ion-item>
              <ion-item>
                <ion-label color="dark"><h2 [ngClass]="daysLeft < 0 ? 'red' : 'green'">Days Left : {{daysLeft}} Day(s)</h2> </ion-label>                   
              </ion-item>

              <ion-item>
                <ion-label color="dark"><h2>Last Date :{{lastDate | date}}</h2> </ion-label>                   
              </ion-item>
            </ion-list>
          </ion-col>

            <ion-col>
              <ion-list [inset]="true" lines="none">
                <ion-item>
                  <ion-label color="dark"><h2><strong>Allowed Time</strong></h2> </ion-label>                   
                </ion-item>

                <ion-item>
                  <ion-label color="dark"><h2>Check In : {{checkinTime | date:'shortTime'}}</h2> </ion-label>                   
                </ion-item>

                <ion-item>
                  <ion-label color="dark"><h2>Check Out :{{checkoutTime | date:'shortTime'}}</h2> </ion-label>                   
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </div>
  </ion-content>

