  <ion-header class=" ion-no-border">
    <ion-toolbar>
          <ion-title mode="md" class="ion-no-padding">
            <ion-label>
              <ion-text color="tertiary">Welcome</ion-text>
              <p><ion-text color="white"><strong>{{loggedUserName}}</strong></ion-text></p>
            </ion-label>
          </ion-title>
          <ion-avatar slot="end">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

      <div class="div-0">
          <!-- <ion-card class="ion-text-center">
            <ion-card-content>
              <ion-datetime-button datetime="datetime" displayFormat="MMM DD, YYYY HH:mm" ></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-card-content>
          </ion-card> -->
      </div>

     

      <div class="div-0">
        <ion-label class="ion-text-center"><h1>Scan the QR code to access Gym</h1></ion-label>
       
            <ion-button
            class="ion-text-center"
            expand="block"
            class="ion-margin"
            (click)="attendance()"
            shape="round"
            >Tap to Scan </ion-button>
         
      </div>

      <div class="div-0">
        <ion-label color="dark"><h2>My Account</h2></ion-label>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col> 
              <ion-list  [inset]="true" lines="none">
                <ion-item>
                  <ion-label color="dark"><h2>Allowed Days</h2> </ion-label>                   
                </ion-item>
              <ion-item>
                <ion-label color="dark"><h2>Days Left : {{daysLeft}} Day(s)</h2> </ion-label>                   
              </ion-item>

              <ion-item>
                <ion-label color="dark"><h2>Last Date :{{lastDate | date}}</h2> </ion-label>                   
              </ion-item>

              <!-- <ion-item>
                <ion-label color="dark"><h2>Locker ID ...</h2> </ion-label>                   
              </ion-item> -->
            </ion-list>
          </ion-col>

            <ion-col>
              <ion-list [inset]="true" lines="none">
                <ion-item>
                  <ion-label color="dark"><h2>Allowed Time</h2> </ion-label>                   
                </ion-item>

                <ion-item>
                  <ion-label color="dark"><h2>Check In : {{checkinTime | date:'shortTime'}}</h2> </ion-label>                   
                </ion-item>

                <ion-item>
                  <ion-label color="dark"><h2>Check Out :{{checkoutTime | date:'shortTime'}}</h2> </ion-label>                   
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <ion-item class="ion-text-center">
          <ion-label color="dark"><h2>Recharge Request</h2> </ion-label>                   
        </ion-item> -->
        
       
      </div>
  </ion-content>

