<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addlock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-list>
        <ion-item>
          <ion-select
            label="Select Lock Type" label-placement="fixed"
            placeholder="Select Lock Type"
            (ionChange)="selecthandleChange($event)"
            [compareWith]="compareWith"
            value = "{{DefaultLockValue}}"
          >
            <ion-select-option *ngFor="let lock of locks" [value]="lock.id">{{ lock.name }}</ion-select-option>    
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    
    <ion-item *ngIf="showOpeningRange">
      
      <ion-range
      labelPlacement="start" 
      label="Select Opening Time"
      [pin]="true" 
      [pinFormatter]="pinFormatter"
      [min]="0"
      [max]="10"
      [ticks]="true"
      aria-label="Select Opening Time"
      (ionKnobMoveStart)="onIonKnobMoveStart($event)"
      (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
    ></ion-range>
    </ion-item>

    <ion-item *ngIf="showPassage"> 
    
      <ion-toggle 
      mode="ios"
      [enableOnOffLabels]="true"
      justify="space-between"
      color="danger"
      [ngModel]="isToggled" 
      (ngModelChange)="notifyAndUpdateIsToggled($event)"> Passage Mode
      </ion-toggle>

    </ion-item>

  </ion-list>
 

</ion-content>
