
ion-range {
    --bar-background: #a2d2ff;
    --bar-background-active: #bde0fe;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #ffc8dd;
    --knob-size: 40px;
    --pin-background: #ffafcc;
    --pin-color: #fff;
  }

  .button_border{
    border-radius: 10px !important;
    border: 2px solid #ffffff;
    background-color: white;
    color: #0032fe;
    box-shadow: none !important;
    padding-left: 24px;
    padding-right: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
} 