
ion-range {
    --bar-background: #a2d2ff;
    --bar-background-active: #bde0fe;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #ffc8dd;
    --knob-size: 40px;
    --pin-background: #ffafcc;
    --pin-color: #fff;
  }

  .button_border{
    border-radius: 10px !important;
    border: 2px solid #ffffff;
    background-color: white;
    color: #0032fe;
    box-shadow: none !important;
    padding-left: 24px;
    padding-right: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
} 

ion-select {
  --placeholder-color: #971e49;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

ion-select::part(text) {
  color: #545ca7;
}

ion-select::part(icon) {
  color: #971e49;
  opacity: 1;
}

ion-searchbar {
  --opacity:10;
  --border-radius: 10px !important;
  --border: 2px solid #ffffff;
  --backgtound:transparent;
}

.ion-button-01 {
  --background: #93e9be;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: blue;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-card {
    --color: #000000;
  --opacity:10;
  border-radius:30px !important;
  border: .1px solid #ffffff;
  background:transparent;
}

ion-card-title {
  --color: #1100ac;
}

ion-card-subtitle {
  --color: #2d2ab6;
}

ion-card-content {
  padding: top -10pax;
  >div:nth-of-type(1) {
    >ion-badge {
    }
  }
  >div:nth-of-type(2) {
    >ion-badge {
    }
  }
}