  <ion-header>
    <ion-toolbar>
       <ion-grid>
        <ion-row>
          <ion-col><ion-title>Members List</ion-title></ion-col>
          <ion-col><ion-item ><ion-label><h2>Selected Gym</h2></ion-label></ion-item></ion-col>
          <ion-col>            
              <ion-item>
                <ion-select 
                  aria-label="Gym"
                  placeholder="Select Gym"
                  interface="popover"
                  (ionChange)="selecthandleChange($event)"
                  [compareWith]="compareWith" value="{{MyDefaultGymValue}}"              
                  slot="end">
                  <!-- <ion-select-option *ngFor="let mt of MemberType" [value]="mt">{{ mt.name }}</ion-select-option> -->
                    <ion-select-option *ngFor="let gym of gyms" value="{{gym._id}}"> {{gym.gym_name | uppercase}}</ion-select-option>
                    
                </ion-select>
              </ion-item>         
           </ion-col>
       </ion-row>
      </ion-grid>     

    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
       <ion-searchbar 
        color="primary"
        placeholder ='Search Member'
        [(ngModel)]="searchTerm"
        showCancelButton="focus"
        animated   
        >    
      </ion-searchbar>

      <!-- debounce="100"
        (ionChange)="handleChange($event)" -->

        <!-- to refresh page on pull down  -->
        <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
  
      <ion-card class="ion-margin" 
        
      *ngFor="let m of members | filter:searchTerm">
              <ion-card-header appSwipe
              (swipe)="onSwipe($event)"
              SWIPE GESTURE>            
                <ion-card-title>
                  {{m.m_name}}                   
                </ion-card-title>
                <ion-card-subtitle>
                  <ion-badge>{{m.memberType}}</ion-badge> 
                  <p (click)="CallTel(m.mobile)"><ion-icon name="call"></ion-icon> Mobile {{m.mobile}}</p>                 
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                 <!-- <p>Balance Days {{m.m_validdays}} </p> --> 
                 <div>               
                 <ion-badge slot="start">Balance :{{m.m_validdays}} Day(s)</ion-badge>              
                </div>
                <div>
                 <ion-badge slot="start">End Date:{{m.m_enddate | date }}</ion-badge>
                </div>
                 <!-- <p>unique ID {{m._id}} </p>  -->
                 <!-- <p>
                  <ion-button (click)="rangeValue(m.m_enddate,m.m_validdays)"> 
                    value
                  </ion-button>
                 </p> -->

                 <!-- <a [routerLink]="['/member/', m._id]">{{ m._id }}</a> -->
              </ion-card-content> 
              <!-- <ion-item>
                <ion-range aria-label="Custom range" [value]={rangeValue} [pin]="true"></ion-range>
              </ion-item>  -->

              <ion-grid>
                <ion-row>
                  <ion-col><ion-button color="primary" expand="block" (click)="updateMemberControl(m._id)"><ion-icon name="create"></ion-icon>Validity</ion-button>
                  </ion-col>
                  <ion-col><ion-button color="primary" expand="block" (click)="updateMember(m._id)"><ion-icon name="documents"></ion-icon>Detail</ion-button>
                  </ion-col>
                  <ion-col><ion-button color="primary" expand="block" (click)="inviteMember(m._id)"><ion-icon name="send"></ion-icon>Invite</ion-button></ion-col>
                </ion-row>
              </ion-grid>
              
                     
    </ion-card>
    

    <!-- <ion-button
    class="ion-margin" 
    expand="block"
    appGesture
    [gestureOpts]="[{name: 'tap'}]"
    (tap)="onTap($event)">
    TAP GESTURE
  </ion-button>

  <ion-button
    class="ion-margin" 
    expand="block"
    appGesture
    [gestureOpts]="[{name: 'doubleTap'}]"
    (doubleTap)="onDoubleTap($event)">
    DOUBLE TAP GESTURE
  </ion-button>

  <ion-button
    class="ion-margin" 
    expand="block"
    appGesture
    [gestureOpts]="[{name: 'press'}]"
    (press)="onPress($event)">
    LONG PRESS GESTURE
  </ion-button>

  <ion-button
    class="ion-margin" 
    expand="block"
    appGesture
    [gestureOpts]="[{name: 'swipe'}]"
    (swipe)="onSwipe($event)">
    SWIPE GESTURE
  </ion-button> -->

  <ion-button
    class="ion-margin" 
    expand="block"
    appTap
    (tap)="onTap($event)">
    TAP GESTURE
  </ion-button>

  <ion-button
    class="ion-margin" 
    expand="block"
    appTap
    (doubleTap)="onDoubleTap($event)">
    DOUBLE TAP GESTURE
  </ion-button>

  <ion-button
    class="ion-margin" 
    expand="block"
    appPress
    (press)="onPress($event)">
    LONG PRESS GESTURE
  </ion-button>

  <ion-button
    class="ion-margin" 
    expand="block"
    appSwipe
    (swipe)="onSwipe($event)">
    SWIPE GESTURE
  </ion-button>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addProduct()" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>  

    <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->


  </ion-content>

<!-- </div> -->
 