<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="BacktoList()" [strong]="true" >Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Member Detail</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding" style="padding: 7.5%" >
  <form [formGroup]="memberForm" (ngSubmit)="onFormSubmit()">

      
      <ion-item>
        
        <ion-input
        position="floating" 
        label="Name" 
        labelPlacement="floating"
        formControlName="m_name"         
        type="text" 
        required></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input 
        position="floating"
        label="Mobile" 
        labelPlacement="floating"
        formControlName="mobile"        
        type="text" 
        required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
        label="Emergency Mobile" 
        position="floating"
        labelPlacement="floating"
        formControlName="Emergency_mobile"         
        type="text" 
        required>
        </ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-input 
        label="Aadhar(Optional)" 
        position="floating"
        labelPlacement="floating"
            type="text" 
            formControlName="aadhar" 
            
           required>
        </ion-input>
      </ion-item> -->

     
      <ion-item>
        
        <ion-input 
        label="E-Mail" 
        position="floating"
        formControlName="email"       
        labelPlacement="floating"
         type="text"
         
         required>
        </ion-input>
        
      </ion-item>

   

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
               <ion-list>
                <ion-item>
                  <ion-select
                    placeholder="Access Type"
                    (ionChange)="handleChange_AT($event)"
                    formControlName="m_accesstype"
                  >
                    <ion-select-option value="free">Free</ion-select-option>
                    <ion-select-option default="true" value="paid">Paid</ion-select-option>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
               <ion-list>
                <ion-item>
                  <ion-select
                    placeholder="Member Type"
                    (ionChange)="handleChange_MT($event)" 
                    formControlName="memberType"                          
                  >
                  <!-- <ion-select-option *ngFor="let mt of MemberType" [value]="mt">{{ mt.name }}</ion-select-option> -->
                    <ion-select-option default="true" value="member">Member</ion-select-option>
                    <ion-select-option value="staff">Staff</ion-select-option>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
             </ion-item>
          </ion-col>
         </ion-row>
      </ion-grid>

     

     

     <div>
        <ion-button 
          type="submit" 
          [disabled]="!memberForm.valid" 
          color="primary" 
          shape="round" 
          expand="block">
        Save 
        </ion-button>
    </div>

    </form> 
  

</ion-content>