
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup] = "authForm" (ngSubmit)="signIn()">
    <ion-list>
    <ion-item class="item-has-focus ion-touched ion-valid" >   
      <ion-input labelPlacement="floating" label="Email ID" placeholder="Enter Email" formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item class="item-has-focus ion-touched ion-valid" >
       <ion-input labelPlacement="floating" label="Password" placeholder="Enter Password" formControlName="password" type="password" required>
      </ion-input>
    </ion-item>

    <div>
        <ion-button 
        type="submit" 
        [disabled]="!authForm.valid"
        color="primary" 
        shape="full" 
        expand="block">Login</ion-button>
    </div>
  </ion-list>
</form> 
  
 
<p class="ion-text-right"> Don't have an account?<strong routerLink="/register"> Register</strong></p>
<p class="ion-text-left"><strong routerLink="/forgetpassword"> Forgot Password </strong></p>
<p class="ion-text-center" *ngIf="isLoading"> <ion-spinner></ion-spinner> </p>

 
<div *ngIf = "serverErrorMessage">
  {{serverErrorMessage}}
</div>

</ion-content>


