<ion-content [fullscreen]="true">

  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="white" routerLink="/login">
        <img src="assets/svg/folded_hand.svg">
        <!-- <ion-icon name="close-outline" color="medium"></ion-icon> -->
      </ion-fab-button>
    </ion-fab>
  </div>
 
  <div >
    <form  *ngIf="!isOTPmailed" [formGroup]="authForm" (ngSubmit)="getOTP()">
      <ion-list lines="none" class="ion-margin">
        <ion-item class="item-has-focus ion-touched ion-valid" class="ion-margin">

          <ion-input labelPlacement="floating" label="Email ID" formControlName="email" type="email"
            required></ion-input>
        </ion-item>

        <ion-item class="item-has-focus ion-touched ion-valid" class="ion-margin">
          <ion-input labelPlacement="floating" label="Mobile" formControlName="mobile" type="text" required>
          </ion-input>
        </ion-item>

        <div>
          <ion-button 
          type="submit" 
          [disabled]="!authForm.valid" 
          color="primary" 
          shape="round" 
          expand="block">Get
            Verification Code</ion-button>
        </div>
      </ion-list>
    </form>
  </div>

  <div >
    <form *ngIf="isOTPmailed" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <ion-list lines="none" class="ion-margin">
        <ion-item class="item-has-focus ion-touched ion-valid" class="ion-margin">

          <ion-input labelPlacement="floating" label="Email ID" formControlName="email" type="email" required
            placeholder="Enter Email ID"></ion-input>
        </ion-item>

        <ion-item class="item-has-focus ion-touched ion-valid" class="ion-margin">
          <ion-input 
          labelPlacement="floating" 
          label="OTP" 
          formControlName="otp" 
          type="text" required
          placeholder="XXXXXX">
          </ion-input>
        </ion-item>

        <ion-item class="item-has-focus ion-touched ion-valid" class="ion-margin">
          <ion-input labelPlacement="floating" label="New Password" formControlName="newPassword" type="text" required
            placeholder="Enter New Password ">
          </ion-input>
        </ion-item>

        <div>
          <ion-button 
          type="submit" 
          [disabled]="!resetForm.valid" 
          color="primary" 
          shape="round" 
          strong="true"
          expand="block">
          Change
            Password</ion-button>
        </div>
      </ion-list>
    </form>
    <div *ngIf="isOTPmailed" align="right">
      <ion-label class=" ion-text-center">OTP sent to Email ID Please get it From There </ion-label>
    </div>
  </div>

  <ion-text color="medium">  <p class="ion-margin-horizontal"> <strong routerLink="/login"><ion-icon name="chevron-back"></ion-icon> Back to login</strong></p></ion-text>

  
  <div *ngIf="serverErrorMessage" align="right">
    {{serverErrorMessage}}
  </div>

  

</ion-content>