<ion-tabs #gymtabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="member-list">
      <ion-icon [name]="selectedTab == 'member-list'? 'people':'people-outline'"></ion-icon>
      <ion-label>Members</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="infor">
      <ion-icon [name]="selectedTab=='infor'?'fitness':'fitness-outline'"></ion-icon>
      <ion-label>My Gym</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="me">
      <ion-icon [name]="selectedTab=='me'? 'person': 'person-outline'"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unlock">
      <ion-icon [name]="selectedTab==''?'lock-open':'lock-open-outline'"></ion-icon>
      <ion-label>Unlock</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>