<div class="search-container">
  <span>Search:</span>
  <input 
 
  (ioninput)="onSearchTextChanged()">
</div>

<!-- <ion-searchbar         
        placeholder ='Search'
        [(ngModel)]="enteredSearchValue"
        (ionChange)="onSearchTextChanged()"
        showCancelButton="focus"
        animated   
        >    
</ion-searchbar> -->

<!-- <ion-searchbar   
debounce="500" 
placeholder="..." 
[(ngModel)]="searchTerm" 
(ionChange)="triggerSearch(searchTerm)" 
(ionClear)="cancelSearch()" 
(ionCancel)="emptySearch()"
></ion-searchbar> -->



