<ion-header>
  <ion-toolbar>
    <ion-title>member-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingResults">
    <ion-spinner *ngIf="isLoadingResults" ></ion-spinner>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title><h2><ion-icon name="person-circle-outline"></ion-icon>{{member.m_name}}</h2></ion-card-title>
      <ion-card-subtitle><ion-icon name="call-outline"></ion-icon>Mobile No.- {{member.mobile}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <dl>
        <!-- <dt><ion-icon name="calendar-outline"></ion-icon>Subscription Expiry Date:</dt>
        <dd>{{member.m_enddate}}</dd>

        <dt><ion-icon name="timer-outline"></ion-icon>Allowed Time In:</dt>
        <dd>{{member.m_intime}}</dd>

        <dt><ion-icon name="time-outline"></ion-icon>Allowed Time Out:</dt>
        <dd>{{member.m_outtime}}</dd> -->

        <dt><ion-icon name="mail-open-outline"></ion-icon>Invitation Status:</dt>
        <dd>{{member.isInviteAccepted}} Accepted </dd>

        <dt><ion-icon name="key-outline"></ion-icon>Access Type Paid/Free:</dt>
        <dd>{{member.m_accesstype}}</dd>

        <dt><ion-icon name="people-outline"></ion-icon>Member Type Member/Staff:</dt>
        <dd>{{member.memberType}}</dd>
         </dl>
    </ion-card-content>

    <ion-button (click)="BacktoList()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon> BACK
    </ion-button>
         
      <ion-button (click)="editMember(member._id)">
        <ion-icon slot="icon-only" name="create"></ion-icon> EDIT
      </ion-button>

      <ion-button (click)="deleteMember(member._id)">
        <ion-icon slot="icon-only" name="remove-circle"></ion-icon> DELETE
      </ion-button>

      <ion-button (click)="AddMore()">
        <ion-icon slot ="end" name="arrow-forward"></ion-icon> ADD..
      </ion-button>

   </ion-card>

</ion-content>
